/* .toolbar-logo {
    display: float;
} */

.toolbar-top {
    /* display: flex;
    justify-content: space-between;
    height: 1.5em; */
    display: none;
}

.toolbar-sort {
    width: 200px;
}

.toolbar-filter {
    width: 200px;
}

.toolbar-middle {
    display: flex;
    justify-content: space-between;
}

.toolbar-bottom {
    display: block;
}

.light-mode-btn {
    display: inline;
}